In [1]:
import numpy as np
import pandas as pd

In [2]:
mask_df=pd.read_csv('output40.csv')
gender_df=pd.read_csv('output41.csv')
age_df=pd.read_csv('output42.csv')

mask_df.head()

                                        ImageID  ans
0  cbc5c6e168e63498590db46022617123f1fe1268.jpg   12
1  0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    0
2  b549040c49190cedc41327748aeb197c1670f14d.jpg   12
3  4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg   12
4  248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg   12

In [3]:
mask_df['ans']=mask_df['ans']+gender_df['ans']+age_df['ans']
mask_df.head()

                                        ImageID  ans
0  cbc5c6e168e63498590db46022617123f1fe1268.jpg   13
1  0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    1
2  b549040c49190cedc41327748aeb197c1670f14d.jpg   13
3  4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg   16
4  248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg   12

In [ ]:
import os
mask_df.to_csv('sum_output.csv',index=False)